In [29]:
# since there's not enough Polygon donors (just 160), we'll merge them with the Ethereum ecosystem donors

import pandas as pd

addressesETH = pd.read_csv('addressesETH.csv')
addressesPOLY = pd.read_csv('out/addresses_ranked_df.csv')
# drop first column in addressesPOLY (it's just a counter)
addressesPOLY = addressesPOLY.drop(columns=['Unnamed: 0'])
addressesPOLY

                                        address         value
0    0x907f2e1f4a477319a700fc9a28374ba47527050e  4.063100e+07
1    0xd8ea779b8ffc1096ca422d40588c4c0641709890  1.000000e+05
2    0x631e9b031b16b18172a2b9d66c3668a68a668d20  4.280070e+04
3    0xc7f9fcdf189a5684022908dc594f5669bc7812b0  1.000000e+04
4    0xf03311dd1bc1e944e9492cb7e89ddbae0c6fe493  9.226403e+03
..                                          ...           ...
157  0xe2890165e8685153f7a460472a2247da922606c9  0.000000e+00
158  0x1c9e0cd775bbd8353ae25e0b59d54574cff12380  0.000000e+00
159  0x5ac32b12daf2d5942403d3fc97f168fa485c795c  0.000000e+00
160  0xd0bb6a1d46afe6b1b221959474af140933fba15b  0.000000e+00
161  0xa0c23b3e4ab6d1e1ba1c617ec056a156102454a4  0.000000e+00

[162 rows x 2 columns]

In [30]:
# concatenate the two dataframes with no sorting
addresses = pd.concat([addressesPOLY, addressesETH], axis=0, ignore_index=True, sort=False)
# addresses = pd.concat([addressesETH, addressesPOLY], axis=0, sort=False)
addresses = addresses.head(1000)
addresses

                                        address         value
0    0x907f2e1f4a477319a700fc9a28374ba47527050e  4.063100e+07
1    0xd8ea779b8ffc1096ca422d40588c4c0641709890  1.000000e+05
2    0x631e9b031b16b18172a2b9d66c3668a68a668d20  4.280070e+04
3    0xc7f9fcdf189a5684022908dc594f5669bc7812b0  1.000000e+04
4    0xf03311dd1bc1e944e9492cb7e89ddbae0c6fe493  9.226403e+03
..                                          ...           ...
995  0xaa5ce79bfc453761b084a780044aff329f002538  3.302000e-05
996  0x20d2c4bff1ff747149fa6bdd631f7923cd60a1ee  1.200000e-05
997  0x7ae4f7c978bd19e9976aba8bc3d4ef629e212afc  1.000000e-05
998  0x45a842144b0d5752b805013d9b83e2a969785999  1.000000e-05
999  0xf55934e1b5be3cd8b51b347bcb4c9eede52c3f29  3.000000e-06

[1000 rows x 2 columns]

In [26]:
addresses.to_csv('FINAL_MERGED_RANKINGS.csv', index=False)